body{
    font-family: 'Roboto', sans-serif;
}
.headers{
    display: flex;
    flex-direction: row;
}
.headers_navigation{
    display: flex;
    flex-direction: row;
}
.logo{
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
}
.firs_logo{
    color: #2196F3;
}
.style_navigation{
    display: flex;
    flex-direction: row;
}
.navigation{
    color: black;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}
.style_mail_tel{
    display: flex;
    flex-direction: row;
}
.stydio{
   margin: 0px 20px 0px 200px;
}
.stydio:hover{
    color: #2196F3;
}
.portfolio{
    margin: 0px 20px 0px 30px;
}
.portfolio:hover{
    color: #2196F3;
}
.contakts{
    margin: 0px 200px 0px 30px;
}
.contakts:hover{
    color: #2196F3;
}
.mail{
    margin: 0px 20px 0px 100x;
}
.mail{
    color:  rgba(117, 117, 117, 1);
}
.mail:hover{
    color: #2196F3;
}
.tel{
    color: #757575;
}
.tel{
    margin: 0px 20px 0px 30px;
}
.tel:hover{
    color: #2196F3;
}
.goal{
    background-color: #2F303A;
    text-align: center;
}
.main_goal{
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    text-align: center;
    color: #FFFFFF;
    padding: 100px 452px 100px 452px;
}   
.button_goal{
    width: 200px;
    height: 50px;
    left: 600px;
    top: 430px;
    background-color: #2196F3;
    margin: 0px 600px 200px 600px;
}
.button_goal{
    cursor: pointer;
}
.direction_selection{
    display: flex;
    flex-direction: row;
    margin: 56px 215px 94px 215px;
}
.location_direction{
    margin:0px 30px;
}
.text_direction{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: black;
}
.paragraf_direction{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #757575;
}
.text_work{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
}
.foto_work{
    display: flex;
    flex-direction: row;
}
.foto_1{
    margin: 50px 30px 94px 215px;
}
.foto_2{
    margin: 50px 0px 94px 0px;
}
.foto_3{
    margin: 50px 215px 94px 30px;
}
.our_team{
    background-color: #F5F4FA;
}
.our_team_selection{
    font-family: Roboto;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    padding: 94px 668px 21px 668px;
    color: black;
}
.image_team{
    display: flex;
    flex-direction: row;
}
.image_team1{
    margin: 8px 30px 94px 240px;
}
.image_team2{
    margin: 8px 30px 94px 30px;
}
.image_team3{
    margin: 8px 30px 94px 30px;
}
.image_team4{
    margin: 8px 210px 94px 30px;
}
.text_team{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: black;
}
.position_team{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #757575;
}
.legall_adress{
    background-color: #2F303A;
}
.addres{
    color: #FFFFFF;
}
.buttons_selection{
    display: flex;
    flex-direction: row;
    background-color: #FFFFFF;
}
.text_buttom{
    color: black;
}
.button_1{
    margin: 140px 30px 0px 400px;
    cursor: pointer;
}
.button_2{
    margin: 140px 30px 0px 30px;
    cursor: pointer;
}
.button_3{
    margin: 140px 30px 0px 30px;
    cursor: pointer;
}
.button_4{
    margin: 140px 30px 0px 30px;
    cursor: pointer;
}
.button_5{
    margin: 140px 30px 0px 30px;
    cursor: pointer;
}
.text_buttom:hover{
    color: #FFFFFF;
}
.button_1:hover{
    background-color: #2196F3;
}
.button_2:hover{
    background-color: #2196F3;
}
.button_3:hover{
    background-color: #2196F3;
}
.button_4:hover{
    background-color: #2196F3;
}
.button_5:hover{
    background-color: #2196F3;
}
.kontent_image{
    display: flex;
    flex-direction: row;
}
/* .img_kontent1{
    margin: 120px 30px 0px 200px;
   
}
.img_kontent2{
    margin: 120px 30px 0px 30px;
}
.img_kontent3{
    margin: 120px 30px 0px 30px;
}
.img_kontent4{

    margin: 400px 30px 0px 0px;
}
.img_kontent5{
    width: 370px;
    height: 294px;
    left: 615px;
    top: 696px;
}
.img_kontent6{
    position: absolute;
    width: 370px;
    height: 294px;
    left: 1015px;
    top: 696px;
}
.img_kontent7{
    position: absolute;
    width: 370px;
    height: 294px;
    left: 215px;
    top: 1130px;
}
.img_kontent8{
    position: absolute;
    width: 370px;
    height: 294px;
    left: 615px;
    top: 1130px;
}
.img_kontent9{
    position: absolute;
    width: 370px;
    height: 294px;
    left: 1015px;
    top: 1130px;
} */
.text_img_kontent{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: black;
}
.location_img_kontent{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #757575;
}
.legall_adress2{
   margin: 100px 0px 0px 0px;
    background-color: #2F303A;
}
.addres:hover{
   color: #2196F3
}
.mail1{
    color: rgba(255, 255, 255, 0.6);
}
.tel1{
    color: rgba(255, 255, 255, 0.6);
}
.mail1:hover{
    color: #2196F3;
}
.tel1:hover{
    color: #2196F3;
}
